---
layout: default
---

<div class="left-col-block blocks" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
	<header class="header theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: static; transform: none;">
		{% include section_intro.html %}
	</header>
</div>
<div class="right-col-block blocks" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
	<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
		{% include section_expertise.html %}
		{% include section_skills.html %}
		{% include section_workexperience.html %}
		{% include section_additionalinfo.html %}
		{% include section_github.html %}
		{% include section_contact.html %}
	</div>
</div>
