{% if site.intro %}
		<div class="profile-img">
			<img src="img/img-profile.jpg" class="img-responsive" alt="">
		</div>
		<div class="content">
			<h1>{{site.title}}</h1>
			<span class="lead">{{site.role}}</span>
			<div class="about-text">
				<p>{{site.intro}}</p>
			</div>
		</div>
		<ul class="social-icon">
			<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
		</ul>
{% endif %}



