{% if site.github %}
<section class="section-wrapper section-education gray-bg">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-6">
		<div class="section-title"><h2>Some projects I am Working On</h2></div>
		</div>
		</div>
		
		<div class="row">
				{% for project in site.github %}
					{% assign loopindex = forloop.index | modulo: 2 %}
					{% if loopindex == 1 %}
					<div class="row">
					{% endif %}
						<div class="col-md-6">
							<div class="github-widget" data-repo="{{project}}"></div>
						</div>
					{% if loopindex == 0 %}
					</div>
					{% endif %}
				{% endfor %}
				{% if loopindex == 1 %}
		</div>
				{% endif %}
	</div>
</section>
{% endif %}
