
{% if site.contact %}
<section class="section-contact section-wrapper gray-bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
				<h2>Contact</h2>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<address>
				<strong>Address</strong><br>
				{{site.contact.address1}}<br>
				{{site.contact.address2}}
				</address>
				<address>
				<strong>Phone Number</strong><br>
				{{site.contact.phone}}
				</address>
				<address>
				<strong>Website</strong><br>
				<a href="{{site.contact.website}}">{{site.contact.website}}</a>
				</address>
				<address>
				<strong>Email</strong><br>
				<a href="mailto:{{site.contact.email}}">{{site.contact.email}}</a>
				</address>
			</div>
		</div>
	</div>
</section>
{% endif %}
